*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    font-size: 70.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", Georgia;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
}